* {
  margin: 0;
  padding: 0;
}
.text_title {
  font-size: 4rem;
}

.text_subtitle {
  font-size: 2rem;
}

.text_p {
  font-size: 1.5rem;
}

/* Home */
.home-page {
  height: 100vh;
  background: fixed;
  background-image: url(../img/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(62, 57, 57, 0.628);
  z-index: 1;
}
.home-page .navbar {
  top: auto;
  left: 0;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(104, 102, 102, 0.8);
  z-index: 99;
}

.nav-item {
  margin: 0px 25px;
  font-weight: bold;
  font-size: 1.5rem;
}
.nav-item:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 3px #c2bfbf;
}
.home-page .home-caption {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  z-index: 10;
}

.home-caption strong {
  color: #00e6f6;
}

.cyberpunk,
.cyberpunk::after {
  padding: 15px 40px;
  text-decoration: none;
  font-size: 36px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
  cursor: pointer;
}

.cyberpunk::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "AVAILABLE NOW";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.cyberpunk:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
  cursor: pointer;
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
} /* End Home */
/* About */

.about {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about h2 {
  color: #ff013c;
}

.btn-cv,
.btn-cv::after {
  padding: 5px;
  text-decoration: none;
  font-size: 26px;
  font-family: "Bebas Neue", cursive;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
}

.btn-cv::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "AVAILABLE NOW";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.btn-cv:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
  cursor: pointer;
}
/* Skills */
.skill {
  width: 260px;
  height: 260px;
  position: relative;
}
.blop {
  position: absolute;
  z-index: -1;
}

/* .skill img {
  filter: grayscale(100%);
} */

.skill:hover {
  cursor: pointer;
  animation: hue 2s alternate infinite;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.09);
}

@keyframes hue {
  100% {
    filter: hue-rotate(360deg);
  }
}
.titleSkill {
  font-weight: 600;
  color: #555;
  text-align: center;
  justify-content: center;
  margin: 5px 0px 5px 15px;
}

/* End Skills */

.seccion_edu {
  min-height: 100vh;
  background: fixed;
  background-image: url(../img/cima.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* timeline */

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: rgb(28, 11, 11);
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #f45b69;
  border-radius: 10px;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #f45b69 transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f45b69;
}

.timeline ul li::after {
  background: #fff;
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #01dded;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}
@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
}
